<div class="modal" style="padding: 20px">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head" style="background-color: #333">
      <p class="modal-card-title" style="color: #eee">Criar audio</p>
      <button class="delete" aria-label="close" onclick="closeModal()"></button>
    </header>
    <section class="modal-card-body" style="background-color: #333">
        <%= form_for @audio do |form| %>
        <div class="columns">
            <div class="column">
                <label style="color: #eee">qual o titulo do seu audio?</label>
                <%= form.text_field :title, class: 'input', placeholder: 'ex.: Um conto de lovecraft'%> 
            </div>
            <div class="column">
                <label style="color: #eee">qual o tipo do seu audio?</label>
                <div class="select">
                    <%= form.select :audio_type, @types%>
                </div>
            </div>
        </div>

        <label style="color: #eee">uma breve descricao</label>
        <%= form.text_area :description, class: 'textarea', placeholder: 'Ctchulhu ftghn'%>
        <br/>
        <div class="file is-primary is-centered">
            <label class="file-label">
                <%= form.file_field :path, class: 'file-input'%>
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        selecione o arquivo de audio
                    </span>
                </span>
            </label>
        </div>
    </section>
    <footer class="modal-card-foot" style="background-color: #333">
        <%= form.submit 'salvar', class: 'button is-link is-fullwidth' %>
    </footer>
        <% end %>
  </div>
</div>

<script charset="utf-8">
    function closeModal() {
        const modal = document.querySelector('.modal');
        modal.style.display = ''
    }
</script>
