<div class="profile" style="background-color: #333; height: 100vh; padding: 10px">
    <div class="box" style="margin: 50px auto; width: 30%">
        <h1 class="title is-4" style="text-align: center">Perfil</h1> 
        <% if current_user.id == @user.id %>
            <%= form_with(url: "/user/profile/#{@user.id}", method: 'PUT') do%>
                <label>Nome</label>
                <input 
                    type="text" 
                    value="<%= @user.name%>" 
                    name="user[name]"
                    class="input"
                />
                <br></br>
                <label>E-Mail</label>
                <input 
                    type="text" 
                    value="<%= @user.email%>" 
                    name="user[email]"
                    class="input"
                />
                <br></br>
                <label>Nova Senha</label>
                <input 
                    type="password" 
                    name="user[password]"
                    class="input"
                />
                <br></br>
                <button class="button is-link is-fullwidth">salvar!</button>
            <% end %>
            <% else %>
            <h1 class="title is-3"><%= @user.name%></h1>
            <p>Seus audios</p>
            <div class="field is-grouped is-grouped-multiline">
                <% @user.audios.each do |audio| %>
                <div class="control">
                    <div class="tags has-addons">
                        <span class="tag is-link"><%= audio.title%></span>
                        <a class="tag is-info"><i class="fas fa-play"></i></a>
                    </div>
                </div>
                <% end %>
            </div>
            <% end %>
    </div>
</div>
