<div class="column is-one-third">
    <div class="card" style="border-radius: 5px">
        <div class="card-content">
            <div class="content">
                <h1 class="title is-5">
                    <%= audio.title %>
                    <a href="/user/profile/<%= audio.user.id %>" class="tag is-rounded is-warning"><%= audio.user.name %></a>
                </h1>
                <span class="tag is-primary"><%= audio.audio_type %></span>
                <br></br>
                <p><%= truncate audio.description, :length => 45 %></p>
            </div>
        </div>
        <footer class="card-footer">
            <%= form_with(url: "/favorite/add/#{audio.id}") do %>
                <button 
                    type="submit"
                    data-remote="true"
                    class="button is-danger is-light card-footer-item">
                    <i class="fas fa-heart"></i>
                    <span class="tag is-rounded"> <%= audio.favorite.count %></span>
                </button>
            <% end %>
            <button 
                class="button is-primary is-light card-footer-item" 
                onclick="play(<%= audio.id %>, '<%= audio.title%> @ <%= audio.user.name %>')">
                <i class="fas fa-play"></i>
            </button>
            <button 
                class="button is-link is-light card-footer-item">
                <i class="fas fa-share"></i>
            </button>
        </footer>
    </div>
</div>

<script charset="utf-8">
    document.addEventListener('ajax:success', function(event) {
        [data, status, xhr] = event.detail;
        Swal.fire({
          title: '<i class="fas fa-heart" style="color: red"></i> ',
          text: data.message
        });
    });
    document.addEventListener('ajax:error', function(event) {
        [data, status, xhr] = event.detail;
        Swal.fire({
          title: '<i class="fas fa-exclamation" style="color: orange"></i> ',
          text: data.message
        });
    });
</script>
